body{
    margin: 0;
    padding: 0;
}
h2{
    color: rgb(179, 9, 9);
}
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.container-finalizar{
    height: 500px;
    background-color: #DC2F02;
}
.endereco {
    display:grid;
    grid-template-columns: 200px 200px 300px;
    gap: 20px;
    margin-left: 20px;
    flex-direction: column;
}
input {
    border-radius: 3px;
}