*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 80px;
    background-color: #000;
}

/* Cabeçalho da página */

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #000;
}
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.carrinho-compras{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.conta{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.procura{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.menu {
    display: flex;
    height: 5vh;
    gap: 30px;
    padding: 20px;
    background-color: #000;
}
.menu  h2 {
    font-size: 18px;
}
.link-menu {
    text-decoration: none;
    background-color: #E85D04;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
}
.link-menu:hover{
    background-color: #FFBA08;
    text-decoration: underline;
}
.topo-s {
    background-color: #DC2F02;
}
.topo-s h1 {
    color: #DC2F02;
}

/* Seção mais vendidos */

.itens-vendidos {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E85D04;
    justify-content: space-between;
}
.itens-vendidos h1 {
    writing-mode: vertical-lr;
    color: #000;
    text-transform: uppercase;
    font-size: 39px;
    padding-top: 4px;
    background-color: #DC2F02;
}
.item {
    display: block;
    text-align: center;
    border: 8px solid black;
    border-radius: 10px;
}

.item img {
    padding-top: 40px;
    width: 280px;
    height: 200px;
}
.nome-produto {
    height: 10px;
    color: #03071E;
    font-weight: bold;
    font-size: 24px;
}

.preco-produto{
    font-size: 20px;
    font-weight: bold;
    color: #140901;
    background-color: #FFBA08;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.nome-produto-modal {
    height: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.avista {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.parcelado{
    color: #000;
    font-weight: bold;
    font-size: 12px;
}


/* Itens oferta*/

.dir-s {
    writing-mode: vertical-lr;
    background-color: #DC2F02;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.oferta {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-between;
}
.item-oferta{
    border: 8px solid #E85D04;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0); 
}
.item-oferta img{
    padding-top: 40px;
    width: 280px;
    height: 200px;
}
.nome-produto-oferta {
    color: #E85D04;
    font-weight: bold;
    font-size: 24px;
}
.preco-produto-oferta{
    font-size: 17px;
    font-weight: bold;
    color: #140901;
    background-color: #DC2F02;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}
.avista-oferta {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.parcelado-oferta{
    font-weight: bold;
    color: #140901;
    font-weight: bold;
    font-size: 22px;
    background-color: #FFBA08;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

/* Itens de Mouse */

.vender-laranja{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E85D04;
    justify-content: space-between;
}
.vender-laranja h1 {
    writing-mode: vertical-lr;
    color: #000;
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 4px;
    background-color: #DC2F02;
    text-align: center;
}
.item-laranja {
    margin-left: 20px;
    text-align: center;
    border: 8px solid #000;
    border-radius: 10px;
}
.item-laranja img {
    padding-top: 40px;
    width: 280px;
    height: 200px;
}
/* Itens de Teclado */
.vender-preto{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-between;
}
.item-preto {
    margin-left: 20px;
    text-align: center;
    border: 8px solid #E85D04;
    border-radius: 10px;
}
.item-preto img {
    padding-top: 40px;
    width: 280px;
    height: 200px;
}
/* Mouses */
.mouse {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E85D04;
    justify-content: space-between;
}
.mouse h1 {
    writing-mode: vertical-lr;
    color: #000;
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 4px;
    background-color: #DC2F02;
    text-align: center;
}
/* Teclados */
.teclado {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-between;

}
/* Monitores */
.monitor {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E85D04;
    justify-content: space-between;
}
.monitor h1 {
    writing-mode: vertical-lr;
    color: #000;
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 4px;
    background-color: #DC2F02;
    text-align: center;
}
/* Microfones */
.microfones {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #000;
    justify-content: space-between;

}
/* Headset */
.headset {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #E85D04;
    justify-content: space-between;

}
.headset h1 {
    writing-mode: vertical-lr;
    color: #000;
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 4px;
    background-color: #DC2F02;
    text-align: center;
}


/* rodapé */

.baixo-s {
    background-color: #DC2F02;
}
.baixo-s h1 {
    color: #DC2F02;
}
.rodape {
    padding-top: 100px;
    display: flex;
    font-weight: bold;
    color: rgba(97, 96, 96, 0.76);
    justify-content: space-around;
    background-color: rgb(84, 62, 62);
    width: 100%;
    height: 100px;
    padding-bottom: 50px;
}
.institucional > ul{
    list-style: none;
}
.duvidas > ul{
    list-style: none;
}
.contato > ul{
    list-style: none;
}
.pagamentos > ul{
    list-style: none;
}
.list-pagamentos {
    display: flex;
    gap: 10px;
}
.cartoes {
    width: 50px;
}

.logo-rodape {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 100px;
    justify-content: center;
}
.img-rodape {
    height: 90px;
}
.link-rodape {
    font-weight: bold;
    color: #fff;
}
.logo-rodape p{
    font-size: 40px;
    font-style: bold;
    padding-top: 23px;
    color: #E85D04;
}
.apresenta {
    background-color: rgb(25, 26, 34);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-apresentacao {
    width: 100%;
    height: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}
.apresentacao {
    color: antiquewhite;
    text-align: center;
}

/*Página de Produtos*/ 

.container-prod {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #E85D04;
    width: 100%;
    height: 500px;
}
.container-img-small {
    background-color: #E85D04;
    display: grid;
    grid-row: 20px;
    grid-column: 20px;
    width: 100%;
    height: 460px;
    overflow: scroll
}
.container-img-small-show {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    border-width: 90%;
    width: 97%;
    height: 95%;
}
.container-img-small-show img{
    max-width: 100%;
    max-height: 100%;
}
.container-img-big {
    background-color: #ffffff;
    width: 100%;
    height: 460px;
}
.container-img-big img{
    max-width: 100%;
    max-height: 100%;
}
.container-core{
    width: 100%;
    height: 100%;
}
.prod-name {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    width: 100%;
    font-size: 12px;
}
.prod-description{
    text-align: center;
    width: 100%;
    height: 100px;
}
.prod-description span{
    font-size: 30px;
}
.button-buy{
    display: grid;
    grid-gap: 5%;
    transition-duration: 0.5s;
    justify-content: center;
    width: 100%;
    height: 130px;
}
button{
    cursor: pointer;
    background-color: #DC2F02;
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
}
button:hover{
    background-color: #FFBA08;
}
.botao-link{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #df3400c6;
    border-radius: 5px;
    color: black;
    padding: 15px;
}
.botao-link:hover{
    background-color: #FFBA08;
}

/*to make a clickable card out of the items*/

.item .button{
    display: block;
    cursor: pointer;
    justify-content: center;
    background-color: #DC2F02;
    border-radius: 5px;
    padding: 10px 20px;
}
.item .button:hover{
    background-color: #FFBA08;
}

/* Style da aba de carrinho */

.container-carrinho{
    display: block;
    background-color: #E85D04;
}
.item-carrinho-1{
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 12%;
    width: 100%;
    height: 150px;
    background-color: #E85D04;
}
.container-carrinho img{
    width: 100%;
    height: 100%;
}
hr{
    height: 2px;
    background-color: #000;
    width: 90%;
    margin-left: 4%;
    border-radius: 10px;
}
button.remover{
    width: 25%;
}
.quant{
    width: 5%;
}
.preco-total{
    margin-left: 72%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.finalizar{
    width: 30%;
    margin-left: 80%;   
    padding-top: 1%;
    padding-bottom: 1%;
}
.container-final{
    max-width: 100%;
    display: block;
    background-color: #E85D04;
}
